programmes-response.xsd

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ewp="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    elementFormDefault="qualified"

    targetNamespace="https://github.com/erasmus-without-paper/ewp-specs-api-programmes/tree/stable-v1"
    xmlns="https://github.com/erasmus-without-paper/ewp-specs-api-programmes/tree/stable-v1"
>
    <xs:import
        schemaLocation="https://raw.githubusercontent.com/erasmus-without-paper/ewp-specs-architecture/stable-v1/common-types.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    />

    <xs:import
        schemaLocation="https://raw.githubusercontent.com/erasmus-without-paper/ewp-specs-types-academic-term/stable-v2/schema.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-types-academic-term/tree/stable-v2"
    />

    <xs:annotation>
        <xs:documentation>
            This schema is a part of the Erasmus Without Paper project. Before you start
            using it, make sure you have read the general rules described here:

            https://developers.erasmuswithoutpaper.eu/
        </xs:documentation>
    </xs:annotation>

    <xs:element name="programmes-response">
        <xs:annotation>
            <xs:documentation>
                This describes the format of the response returned by the EWP Programmes API.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="programme" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            This represents a single programme.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="ewp:AsciiPrintableIdentifier">
                                <xs:annotation>
                                    <xs:documentation>
                                        Unique identifier of this programme. It SHOULD NOT be displayed to the user (use
                                        `code` for that).

                                        Server implementers MUST use immutable surrogate keys for their work with EWP
                                        (we recommend choosing UUID surrogate keys). You can read about this here:
                                        https://github.com/erasmus-without-paper/ewp-specs-architecture#ids
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="title" type="ewp:StringWithOptionalLang" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        The name(s) of the programme.
                                        You MUST provide at least one name, preferably in English.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="code" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
                                        Since programme IDs should be surrogate identifiers (and, as such, should not be
                                        displayed to the user), we allow additional "human-readable" unique codes (aka
                                        "natural identifiers") to be provided here. These codes MAY be displayed to the
                                        user along the programme title, but they are *not used* to identify entities in EWP
                                        network.

                                        Related links:
                                        https://github.com/erasmus-without-paper/ewp-specs-architecture#ids
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="eqf-level" type="ewp:EqfLevel">
                                <xs:annotation>
                                    <xs:documentation>
                                        European Qualifications Framework (EQF) level provided to the learner
                                        upon completing the Programme.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="ewp:ects">
                                <xs:annotation>
                                    <xs:documentation>
                                        Number of ECTS credits required to complete the Programme.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="ewp:language-of-instruction" maxOccurs="unbounded"/>
                            <xs:element ref="ewp:last-modified"/>
                            <xs:element ref="ewp:description" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="ewp:learning-outcomes" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="abbreviation" type="ewp:StringWithOptionalLang" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Abbreviation of the programme name with optional language code.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="elm-learning-opportunity-type" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Learning opportunity type as defined in the European Learning Model (ELM)
                                        but limited to the items in the controlled vocabulary that may apply to Programmes.

                                        https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/learning-opportunity/25831c2
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="79343569f3">
                                            <xs:annotation>
                                                <xs:documentation>Educational programme</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="0f7dac46ca">
                                            <xs:annotation>
                                                <xs:documentation>Programme module</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="74a4a268e8">
                                            <xs:annotation>
                                                <xs:documentation>Short learning programme</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="elm-learning-schedule-type">
                                <xs:annotation>
                                    <xs:documentation>
                                        Learning schedule type as defined in the European Learning Model (ELM)
                                        but limited to the items in the controlled vocabulary that may apply to Programmes.

                                        https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/learning-schedule/25831c2
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="72a0ab92fa">
                                            <xs:annotation>
                                                <xs:documentation>Full time</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="f230bae523">
                                            <xs:annotation>
                                                <xs:documentation>Part time intensive</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="67395e6b5a">
                                            <xs:annotation>
                                                <xs:documentation>Part time light</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="elm-mode-of-learning" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Mode of learning and assessment as defined in the European Learning Model (ELM).

                                        https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/learning-assessment/25831c2
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="e92d221e4d">
                                            <xs:annotation>
                                                <xs:documentation>Blended</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="c_3a90b26d">
                                            <xs:annotation>
                                                <xs:documentation>Hybrid</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="920fbb3cbe">
                                            <xs:annotation>
                                                <xs:documentation>Online</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="9191af2ed9">
                                            <xs:annotation>
                                                <xs:documentation>Presential</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="7813801c77">
                                            <xs:annotation>
                                                <xs:documentation>Project based</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="ed4c557045">
                                            <xs:annotation>
                                                <xs:documentation>Research-Lab based</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="729f3bed4b">
                                            <xs:annotation>
                                                <xs:documentation>Workbased</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="isced-f-code" type="ewp:IscedFCode" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="ewp:url" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="length" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Length of the programme in number of academic terms.

                                        Examples (`term-count`:`total-terms`):
                                        — 6:2 indicates six (6) semesters (1/2) equivalent to three full academic years;
                                        — 7:2 indicates seven (7) semesters (1/2) equivalent to three and a half academic years;
                                        — 9:3 indicates nine (9) trimesters (1/3) equivalent to three full academic years;
                                        — 3:1 indicates three (3) full years (1/1) absent a division in terms.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="term-count" type="xs:integer">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    The total number of the academic terms the programme lasts.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="total-terms" type="xs:integer">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    The total number of academic terms of this type
                                                    which occur within a single academic year.

                                                    For example, "2" means a semester, because there are 2 semesters
                                                    within a single academic year.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="valid-since" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        The first date in which the programme was offered.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="valid-until" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        The last date in which the programme was offered.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
