programmes-response.xsd

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ewp="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    xmlns:crs="https://github.com/erasmus-without-paper/ewp-specs-api-courses/tree/stable-v1"
    elementFormDefault="qualified"

    targetNamespace="https://github.com/erasmus-without-paper/ewp-specs-api-programmes/tree/stable-v1"
    xmlns="https://github.com/erasmus-without-paper/ewp-specs-api-programmes/tree/stable-v1"
>
    <xs:import
        schemaLocation="https://raw.githubusercontent.com/erasmus-without-paper/ewp-specs-architecture/stable-v1/common-types.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    />

    <xs:import
        schemaLocation="https://raw.githubusercontent.com/erasmus-without-paper/ewp-specs-types-academic-term/stable-v2/schema.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-types-academic-term/tree/stable-v2"
    />

    <!-- TODO: update schema location -->
    <xs:import
        schemaLocation="https://raw.githubusercontent.com/mkurzydlowski/ewp-specs-api-courses2/refs/heads/main/endpoints/courses-response.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-api-courses/tree/stable-v1"
    />

    <xs:annotation>
        <xs:documentation>
            This schema is a part of the Erasmus Without Paper project. Before you start
            using it, make sure you have read the general rules described here:

            https://developers.erasmuswithoutpaper.eu/
        </xs:documentation>
    </xs:annotation>

    <xs:element name="programmes-response">
        <xs:annotation>
            <xs:documentation>
                This describes the format of the response returned by the EWP Programmes API.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="programme" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            This represents a single programme.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="ewp:AsciiPrintableIdentifier">
                                <xs:annotation>
                                    <xs:documentation>
                                        Unique identifier of this programme. It SHOULD NOT be displayed to the user (use
                                        `code` for that).

                                        Server implementers MUST use immutable surrogate keys for their work with EWP
                                        (we recommend choosing UUID surrogate keys). You can read about this here:
                                        https://github.com/erasmus-without-paper/ewp-specs-architecture#ids
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="title" type="ewp:StringWithOptionalLang" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        The name(s) of the programme.
                                        You MUST provide at least one name, preferably in English.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="code" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
                                        Since programme IDs should be surrogate identifiers (and, as such, should not be
                                        displayed to the user), we allow additional "human-readable" unique codes (aka
                                        "natural identifiers") to be provided here. These codes MAY be displayed to the
                                        user along the programme title, but they are *not used* to identify entities in EWP
                                        network.

                                        Related links:
                                        https://github.com/erasmus-without-paper/ewp-specs-architecture#ids
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="eqf-level" type="ewp:EqfLevel">
                                <xs:annotation>
                                    <xs:documentation>
                                        European Qualifications Framework (EQF) level provided to the learner
                                        upon completing the Programme.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="ewp:ects">
                                <xs:annotation>
                                    <xs:documentation>
                                        Number of ECTS credits required to complete the Programme.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="crs:language-of-instruction" maxOccurs="unbounded"/>
                            <xs:element ref="crs:last-modified"/>
                            <xs:element ref="crs:description" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="crs:learning-outcomes" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="abbreviation" type="ewp:StringWithOptionalLang" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Abbreviation of the programme name with optional language code.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="crs:elm-learning-opportunity-type" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="elm-learning-schedule-type" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
                                        Learning schedule type as defined in the European Learning Model (ELM).

                                        https://op.europa.eu/en/web/eu-vocabularies/concept-scheme/-/resource?uri=http://data.europa.eu/snb/learning-schedule/25831c2
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element ref="crs:elm-mode-of-learning" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="isced-f-code" type="ewp:IscedFCode" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element ref="crs:url" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="length" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Length of the programme in number of academic terms.

                                        Examples (`term-count`:`total-terms`):
                                        — 6:2 indicates six (6) semesters (1/2) equivalent to three full academic years;
                                        — 7:2 indicates seven (7) semesters (1/2) equivalent to three and a half academic years;
                                        — 9:3 indicates nine (9) trimesters (1/3) equivalent to three full academic years;
                                        — 3:1 indicates three (3) full years (1/1) absent a division in terms.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="term-count" type="xs:integer">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    The total number of the academic terms the programme lasts.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="total-terms" type="xs:integer">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    The total number of academic terms of this type
                                                    which occur within a single academic year.

                                                    For example, "2" means a semester, because there are 2 semesters
                                                    within a single academic year.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="valid-since" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        The first date in which the programme was offered.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="valid-until" type="xs:date" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        The last date in which the programme was offered.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
